.elevator {
    width: 5vw;
    height: 5vh;
}

.call.elevator {
    background-color: #000000;
}

.waiting.elevator{
    background-color: #ed484d;
}

.arrived.elevator{
    background-color: #5bcd88;
}

